{% extends "ticketportal/base.html" %}
{% block content %}
<main class="col-md-9 col-lg-12 px-md-4">
    <br>
    <h2>{{ info }}</h2>
    <br>
    {% if form %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-danger" type="submit" value="Close">
        </form>
    {% else %}
        <a href="{% url 'ticketportal:tickets' %}" class="btn btn-success btn-lg active" role="button">Back to Tickets</a>
    {% endif %}
</main>
{% endblock %}