{% extends "ticketportal/base.html" %}
{% block content %}
<main class="col-md-9 col-lg-12 px-md-4">
    <br>
    <h2>{{ info }}</h2>
    <br>
    {% if form %}
        <form method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <textarea class="form-control" name="solution" cols="40" rows="10" required id="id_solution" style="height: 200px"></textarea>
                <label for="id_solution">Solution:</label>
            </div>
            <input class="btn btn-danger" type="submit" value="Close">
        </form>
    {% else %}
        <a href="{% url 'ticketportal:tickets' %}" class="btn btn-success btn-lg active" role="button">Back to Tickets</a>
    {% endif %}
</main>
{% endblock %}