{% extends 'ticketportal/base.html' %}
{% block content %}
    <main class="col-md-9 col-lg-12 px-md-4">
      <br>
      <h2>Closed Tickets</h2>
      <br>
      <div class="table-responsive">
        <table class="table table-md">
          <thead>
            <tr>
              <th scope="col">Ticket ID</th>
              <th scope="col">Title</th>
              <th scope="col">Category</th>
              <th scope="col">Requester</th>
              <th scope="col">Created</th>
              <th scope="col">Priority</th>
            </tr>
          </thead>
          <tbody>
            {% for ticket in tickets %}
            <tr class="text-dark bg-light">
              <td>{{ ticket.id }}</td>
              <td><a href="{% url 'ticketportal:ticket_detail' ticket.id %}" style="color:black;">{{ ticket.title }}</a></td>
              <td>{{ ticket.category }}</td>
              <td><a href="{% url 'ticketportal:employee_tickets' ticket.requester.id %}" style="color:black;">{{ ticket.requester }}</a></td>
              <td>{{ ticket.created }}</td>
              {% if ticket.priority == 1 %}
              <td><div class="sb-nav-link-icon"><i class="fas fa-battery-empty"></i></div></td>
              {% elif ticket.priority == 2 %}
              <td><div class="sb-nav-link-icon"><i class="fas fa-battery-half"></i></div></td>
              {% else %}
              <td><div class="sb-nav-link-icon"><i class="fas fa-battery-full"></i></div></td>
              {% endif %}
              </a>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include 'ticketportal/pagination.html' with page=tickets %}
      </div>
    </main>
{% endblock %}