{% extends 'ticketportal/base.html' %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <br>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">All tickets</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        {{ all_tickets.count }}
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-body">All aktiv tickets</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'ticketportal:tickets' %}">{{ activ_tickets.count }}</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">All closed tickets</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'ticketportal:closed' %}">{{ closed_tickets.count }}</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Aktiv incidents</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'ticketportal:tck' 'INC' %}">{{ all_incidents.count }}</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        New Tickets
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        New Employees
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas>Test</div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Latest Tickets
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Requester</th>
                            <th>Created</th>
                            <th>Status</th>
                            <th>Free space</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Requester</th>
                            <th>Created</th>
                            <th>Status</th>
                            <th>Free space</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for ticket in all_tickets %}
                            <tr>
                                <td>{{ ticket.id }}</td>
                                <td>{{ ticket.title }}</td>
                                <td>{{ ticket.requester }}</td>
                                <td>{{ ticket.created }}</td>
                                <td>{{ ticket.status }}</td>
                                <td>Free space</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}