{% extends "ticketportal/base.html" %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <br>
    <h1>{{ ticket.title }}</h1>
    <br>
    <h3>{{ ticket.description }}</h3>
    <br>
    <p>Created: {{ ticket.created }}</p>
    <a href="{% url 'ticketportal:edit_ticket' ticket.id %}" class="btn btn-secondary btn-lg active" role="button">Edit Ticket</a>
    <a href="{% url 'ticketportal:close_ticket' ticket.id %}" class="btn btn-success btn-lg active" role="button">Done</a>
</main>
{% endblock %}