{% extends 'ticketportal/base.html' %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <br>
      <h2>Tickets</h2>
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Ticket ID</th>
              <th scope="col">Title</th>
              <th scope="col">Category</th>
              <th scope="col">Owner</th>
              <th scope="col">Created</th>
              <th scope="col">Priority</th>
            </tr>
          </thead>
          <tbody>
            {% for ticket in tickets %}
            <!--{% if ticket.priority == 3 %}
            <tr class="bg-danger">
            {% elif ticket.priority == 2 %}
            <tr class="text-dark bg-light">
            {% else %}
            {% endif %}-->
            <tr class="text-dark bg-light">
              <td>{{ ticket.id }}</td>
              <td><a href="{% url 'ticketportal:ticket_detail' ticket.id %}" style="color:black;">{{ ticket.title }}</a></td>
              <td>{{ ticket.category }}</td>
              <td>{{ ticket.author }}</td>
              <td>{{ ticket.created }}</td>
              <td>{{ ticket.priority }}</td>
              </a>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
{% endblock %}