{% extends "ticketportal/base.html" %}
{% block content %}
<main class="col-md-9 col-lg-12 px-md-4">
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title:</th>
          <th scope="col"><h4>{{ ticket.title }}</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Ticket ID:</th>
          <td>{{ ticket.id }}</td>
        </tr>
        <tr>
          <th scope="row">Requester:</th>
          <td>{{ ticket.requester }}</td>
        </tr>
        <tr>
          <th scope="row">Description:</th>
          <td>{{ ticket.description|linebreaks }}</td>
        </tr>
        <tr>
          <th scope="row">Created:</th>
          <td>{{ ticket.created }}</td>
        </tr>
        {% if ticket.closed %}
        <tr>
            <th scope="row">Closed:</th>
            <td class="text-danger">{{ ticket.closed }}</td>
        </tr>
        <tr>
            <th scope="row">Solution:</th>
            <td>{{ ticket.solution|linebreaks }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    <a href="{% url 'ticketportal:tickets' %}" class="btn btn-secondary btn-lg active" role="button">Back to Tickets</a>
    {% if not ticket.closed %}
    <a href="{% url 'ticketportal:edit_ticket' ticket.id %}" class="btn btn-secondary btn-lg active" role="button">Edit Ticket</a>
    <a href="{% url 'ticketportal:close_ticket' ticket.id %}" class="btn btn-success btn-lg active" role="button">Done</a>
    {% endif %}
</main>
{% endblock %}