{% extends 'ticketportal/base.html' %}
{% block content %}
    <main class="col-md-9 col-lg-10 px-md-4">
      <br>
      <h2>Employees &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'employees:add_employee' %}" class="btn btn-success btn-lg active" role="button">+</a></h2>
      <br>
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Employee ID</th>
              <th scope="col">Name</th>
              <th scope="col">Joined</th>
            </tr>
          </thead>
          <tbody>
            {% for employee in employees %}
            <tr class="text-dark bg-light">
              <td>{{ employee.id }}</td>
              <td><a href="{% url 'ticketportal:employee_tickets' employee.id %}" style="color:black;">{{ employee.name }}</a></td>
              <td>{{ employee.joined }}</td>
              </a>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include 'ticketportal/pagination.html' with page=employees %}
      </div>
    </main>
{% endblock %}